*.bak
*.old
/tmp/
/etc/
/log/
/db/
/backup/
/local/
/cover_db/
/nytprof*
/etc/config.pl
blib/
tmp/
Makefile
!Makefile.PL
pm_to_blib
MYMETA.*
*.bat
/*.pl
/*.zip
.perl-version
$~*
/node_modules/
/qc.dat
/public/img/
