MYMETA.*
pm_to_blib
blib/
*.bak
*.old
*.db
*.db-journal
tempan/
xt/
Makefile
log.txt
db.txt
Debian_CPANTS.txt
db_backup/
cover_db/
docs/
test_mirror/
data/
log/
tmp/
*.gz
pids/
*$~*
conf.pl
__maintenance__
