/backup/
/log/
/local/
/etc/
/db/
/cover_db/
/nytprof/
/etc/config.pl
/web/bower/
blib/
extlib/
tmp/
Makefile
!Makefile.PL
pm_to_blib
MYMETA.*
*.old
*.bak
*.bat
$~*
/*.pl
/*.zip
/web/public/img/badge/
