#navbar {
  margin-bottom:0px;
}

section {
  padding-bottom: 50px;
}

img {
  max-width: 100%;
}

#footer {
  margin-top: 50px;
}

.section-lead {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pager {
  margin-top: 20px;
}

caption {
  text-align: left;
  font-size: 14px;
}

.lead {
  font-size: 14px;
}

